In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import ast
import numpy as np

Importo el archivo steam_games

In [5]:
steam_games = pd.read_csv('Datasets/steam_games.csv')
steam_games.head()

,Unnamed: 0,publisher,genres,title,url,release_date,reviews_url,specs,price,early_access,id,developer
0,0,Kotoshiro,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,http://steamcommunity.com/app/761140/reviews/?...,['Single-player'],4.99,False,761140.0,Kotoshiro
1,1,"Making Fun, Inc.","['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,http://steamcommunity.com/app/643980/reviews/?...,"['Single-player', 'Multi-player', 'Online Mult...",Free To Play,False,643980.0,Secret Level SRL
2,2,Poolians.com,"['Casual', 'Free to Play', 'Indie', 'Simulatio...",Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,http://steamcommunity.com/app/670290/reviews/?...,"['Single-player', 'Multi-player', 'Online Mult...",Free to Play,False,670290.0,Poolians.com
3,3,彼岸领域,"['Action', 'Adventure', 'Casual']",弹炸人2222,http://store.steampowered.com/app/767400/2222/,2017-12-07,http://steamcommunity.com/app/767400/reviews/?...,['Single-player'],0.99,False,767400.0,彼岸领域
4,4,NaN,"['Action', 'Indie', 'Casual', 'Sports']",Log Challenge,http://store.steampowered.com/app/773570/Log_C...,NaN,http://steamcommunity.com/app/773570/reviews/?...,"['Single-player', 'Full controller support', '...",2.99,False,773570.0,NaN

Verifico cuantos nulos hay

In [6]:
steam_games.isna().sum()

Unnamed: 0         0
publisher       8071
genres           139
title              2
url                0
release_date    2067
reviews_url        2
specs            670
price           1377
early_access       0
id                 2
developer       3299
dtype: int64

Creo un nuevo DataFrame para almacenar las columnas 'title' y 'genres'

In [7]:
games = pd.DataFrame()

In [8]:
games = steam_games[['title', 'genres']]

In [9]:
games.shape

(32135, 2)

In [10]:
games

,title,genres
0,Lost Summoner Kitty,"['Action', 'Casual', 'Indie', 'Simulation', 'S..."
1,Ironbound,"['Free to Play', 'Indie', 'RPG', 'Strategy']"
2,Real Pool 3D - Poolians,"['Casual', 'Free to Play', 'Indie', 'Simulatio..."
3,弹炸人2222,"['Action', 'Adventure', 'Casual']"
4,Log Challenge,"['Action', 'Indie', 'Casual', 'Sports']"
...,...,...
32130,Colony On Mars,"['Casual', 'Indie', 'Simulation', 'Strategy']"
32131,LOGistICAL: South Africa,"['Casual', 'Indie', 'Strategy']"
32132,Russian Roads,"['Indie', 'Racing', 'Simulation']"
32133,EXIT 2 - Directions,"['Casual', 'Indie']"
32134,Maze Run VR,"['Early Access', 'Adventure', 'Indie', 'Action..."

Quito las comillas y los corchetes

In [11]:
games.genres = games.genres.apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else np.nan).apply(lambda x: [genre.strip("'") for genre in x] if isinstance(x, list) else np.nan)

In [12]:
games.genres = games.genres.apply(lambda x: ','.join(x) if isinstance(x, list) else x)

In [13]:
games

,title,genres
0,Lost Summoner Kitty,"Action,Casual,Indie,Simulation,Strategy"
1,Ironbound,"Free to Play,Indie,RPG,Strategy"
2,Real Pool 3D - Poolians,"Casual,Free to Play,Indie,Simulation,Sports"
3,弹炸人2222,"Action,Adventure,Casual"
4,Log Challenge,"Action,Indie,Casual,Sports"
...,...,...
32130,Colony On Mars,"Casual,Indie,Simulation,Strategy"
32131,LOGistICAL: South Africa,"Casual,Indie,Strategy"
32132,Russian Roads,"Indie,Racing,Simulation"
32133,EXIT 2 - Directions,"Casual,Indie"
32134,Maze Run VR,"Early Access,Adventure,Indie,Action,Simulation,VR"

Creo una tabla de dummie

In [14]:
games_dummies = games['genres'].str.get_dummies(',')

In [15]:
games_dummies

,1980s,1990's,2D,2D Fighter,360 Video,3D Platformer,3D Vision,4 Player Local,6DOF,Abstract,...,Walking Simulator,War,Wargame,Web Publishing,Werewolves,Western,World War I,World War II,Zombies,e-sports
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32130,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32131,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32132,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32133,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32134,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Concateno ambos Dataframes creados

In [16]:
df_games = pd.concat([games, games_dummies], axis= 1)

In [17]:
df_games

,title,genres,1980s,1990's,2D,2D Fighter,360 Video,3D Platformer,3D Vision,4 Player Local,...,Walking Simulator,War,Wargame,Web Publishing,Werewolves,Western,World War I,World War II,Zombies,e-sports
0,Lost Summoner Kitty,"Action,Casual,Indie,Simulation,Strategy",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Ironbound,"Free to Play,Indie,RPG,Strategy",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Real Pool 3D - Poolians,"Casual,Free to Play,Indie,Simulation,Sports",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,弹炸人2222,"Action,Adventure,Casual",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Log Challenge,"Action,Indie,Casual,Sports",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32130,Colony On Mars,"Casual,Indie,Simulation,Strategy",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32131,LOGistICAL: South Africa,"Casual,Indie,Strategy",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32132,Russian Roads,"Indie,Racing,Simulation",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32133,EXIT 2 - Directions,"Casual,Indie",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32134,Maze Run VR,"Early Access,Adventure,Indie,Action,Simulation,VR",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Borro la columna genres

In [18]:
df_games.drop('genres', axis= 1, inplace= True)

Verifico si los dummies están correctos

In [19]:
filtered_rows = df_games[df_games['title'] == 'Maze Run VR']
filtered_rows = filtered_rows.loc[:, (filtered_rows == 1).any()]
if not filtered_rows.empty:
    result = filtered_rows.columns.tolist()
    print(result)

['Action', 'Adventure', 'Early Access', 'Indie', 'Simulation', 'VR']

In [20]:
games_year = steam_games[['title', 'release_date']]

Creo un nuevo DataFrame con las columna 'title' y 'release_date' del Dataset original

In [21]:
games_year

                          title release_date
0           Lost Summoner Kitty   2018-01-04
1                     Ironbound   2018-01-04
2       Real Pool 3D - Poolians   2017-07-24
3                       弹炸人2222   2017-12-07
4                 Log Challenge          NaN
...                         ...          ...
32130            Colony On Mars   2018-01-04
32131  LOGistICAL: South Africa   2018-01-04
32132             Russian Roads   2018-01-04
32133       EXIT 2 - Directions   2017-09-02
32134               Maze Run VR          NaN

[32135 rows x 2 columns]

Intento transformar el formato de la columna 'release_date' para fecha, pero me devuelve error. Todavia, me aponta algunas soluciones

In [22]:
games_year['year'] =  pd.to_datetime(games_year['release_date'], format='%Y')

ValueError: unconverted data remains when parsing with format "%Y": "-01-04", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

Intento con los parametros infer_datetime_formato y errors, que permite que pandas infera la transformación del formato y si no se puede transformar, devuelve el valor como NaT (Not a Time)

In [23]:
games_year['year'] = pd.to_datetime(games_year['release_date'], infer_datetime_format=True, errors='coerce').dt.year

In [24]:
games_year

                          title release_date    year
0           Lost Summoner Kitty   2018-01-04  2018.0
1                     Ironbound   2018-01-04  2018.0
2       Real Pool 3D - Poolians   2017-07-24  2017.0
3                       弹炸人2222   2017-12-07  2017.0
4                 Log Challenge          NaN     NaN
...                         ...          ...     ...
32130            Colony On Mars   2018-01-04  2018.0
32131  LOGistICAL: South Africa   2018-01-04  2018.0
32132             Russian Roads   2018-01-04  2018.0
32133       EXIT 2 - Directions   2017-09-02  2017.0
32134               Maze Run VR          NaN     NaN

[32135 rows x 3 columns]

Borro la columna 'release_date' y comparo los tamaños de los DataFrames creados

In [25]:
games_year.drop('release_date', axis=1 ,inplace= True)

In [26]:
print(games_year.shape , df_games.shape)

(32135, 2) (32135, 304)

In [27]:
games_year.isna().sum()

title       2
year     2352
dtype: int64

Combino ambos DataFrames usando como base la columna 'title' presente em ambos, con el metodo .merge()

In [28]:
df_games = pd.merge(df_games, games_year, on = 'title')

In [29]:
df_games

,title,1980s,1990's,2D,2D Fighter,360 Video,3D Platformer,3D Vision,4 Player Local,6DOF,...,War,Wargame,Web Publishing,Werewolves,Western,World War I,World War II,Zombies,e-sports,year
0,Lost Summoner Kitty,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2018.0
1,Ironbound,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2018.0
2,Real Pool 3D - Poolians,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2017.0
3,弹炸人2222,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2017.0
4,Log Challenge,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32210,Colony On Mars,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2018.0
32211,LOGistICAL: South Africa,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2018.0
32212,Russian Roads,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2018.0
32213,EXIT 2 - Directions,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2017.0
32214,Maze Run VR,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN

In [30]:
df_games.isna().sum()

title              4
1980s              0
1990's             0
2D                 0
2D Fighter         0
                ...
World War I        0
World War II       0
Zombies            0
e-sports           0
year            2362
Length: 305, dtype: int64

In [31]:
df_games.to_csv('Datasets/games_genres.csv', index = False)

Importo o archivo user_items.csv, y mantengo el DataFrame con solo las columnas 'item-name' y 'playtime_forever'

In [32]:
user_items = pd.read_csv('Datasets/users_items.csv')

In [33]:
user_items

,user_id,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,10,Counter-Strike,6,0
1,76561197970982479,20,Team Fortress Classic,0,0
2,76561197970982479,30,Day of Defeat,7,0
3,76561197970982479,40,Deathmatch Classic,0,0
4,76561197970982479,50,Half-Life: Opposing Force,0,0
...,...,...,...,...,...
5153204,76561198329548331,346330,BrainBread 2,0,0
5153205,76561198329548331,373330,All Is Dust,0,0
5153206,76561198329548331,388490,One Way To Die: Steam Edition,3,3
5153207,76561198329548331,521570,You Have 10 Seconds 2,4,4
5153208,76561198329548331,519140,Minds Eyes,3,3

In [34]:
user_items.drop(['user_id', 'item_id', 'playtime_2weeks'], axis = 1, inplace= True)

Agrupo la columna 'item_name' y sumo la columnas 'playtime_forever' para saber el total de tiempo jugado

In [35]:
user_items_gp = pd.DataFrame(user_items.groupby('item_name', as_index=False)['playtime_forever'].sum())

In [36]:
user_items_gp[user_items_gp['item_name'] == 'Counter-Strike']

           item_name  playtime_forever
2111  Counter-Strike          17386015

Combino este con el dataframe df_games con base en las colunas 'item_name' y 'title'

In [37]:
df_games = pd.merge(df_games, user_items_gp['playtime_forever'], left_on= df_games['title'], right_on= user_items_gp['item_name'])

In [38]:
df_games

,key_0,title,1980s,1990's,2D,2D Fighter,360 Video,3D Platformer,3D Vision,4 Player Local,...,Wargame,Web Publishing,Werewolves,Western,World War I,World War II,Zombies,e-sports,year,playtime_forever
0,Carmageddon Max Pack,Carmageddon Max Pack,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1997.0,9319
1,Half-Life,Half-Life,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1998.0,2682852
2,Disciples II: Gallean's Return,Disciples II: Gallean's Return,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2006.0,27397
3,Disciples II: Rise of the Elves,Disciples II: Rise of the Elves,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2006.0,21111
4,Golf Masters,Golf Masters,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7802,Mafia,Mafia,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2002.0,45524
7803,Chicken Shoot Gold,Chicken Shoot Gold,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2003.0,371
7804,Day of Defeat,Day of Defeat,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2003.0,758991
7805,Geneforge 2,Geneforge 2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2003.0,3393
7806,Counter-Strike: Condition Zero,Counter-Strike: Condition Zero,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2004.0,2503938

In [39]:
df_games.drop('key_0', axis= 1, inplace= True)

Mantengo solamente los dummies y las colunas de 'year' y 'playtime_forever'

In [40]:
df_games.drop('title', axis= 1, inplace= True)

In [41]:
df_games

,1980s,1990's,2D,2D Fighter,360 Video,3D Platformer,3D Vision,4 Player Local,6DOF,Abstract,...,Wargame,Web Publishing,Werewolves,Western,World War I,World War II,Zombies,e-sports,year,playtime_forever
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1997.0,9319
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1998.0,2682852
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2006.0,27397
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2006.0,21111
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7802,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2002.0,45524
7803,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2003.0,371
7804,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2003.0,758991
7805,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2003.0,3393
7806,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2004.0,2503938

Agrupo todos los dummies

In [42]:
columnas_para_excluir = ['year', 'playtime_forever']
columnas_para_sum = df_games.columns.difference(columnas_para_excluir)

df_summed = df_games.groupby(columnas_para_excluir)[columnas_para_sum].sum().reset_index()

In [43]:
df_summed.head()

,year,playtime_forever,1980s,1990's,2D,2D Fighter,360 Video,3D Platformer,3D Vision,4 Player Local,...,Walking Simulator,War,Wargame,Web Publishing,Werewolves,Western,World War I,World War II,Zombies,e-sports
0,1983.0,3582,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1984.0,384,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1986.0,5100,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1987.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1988.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Adiciono una columna 'most_played_genre' en que retorna el nombre del dummie con mayor valor, y creo un dataframe final que contega: año, genero con mayor valor y tiempo de juego

In [44]:
df_summed['most_played_genre'] = df_summed[columnas_para_sum].idxmax(axis=1)

genres_year = df_summed[['year', 'most_played_genre', 'playtime_forever']]

Agrupo los años y generos para que se suma el tiempo de juego de cada un

In [45]:
genres_year = genres_year.groupby(['year', 'most_played_genre'])['playtime_forever'].sum().reset_index()

In [46]:
genres_year.head()

     year most_played_genre  playtime_forever
0  1983.0            Action              3582
1  1984.0            Action               384
2  1986.0         Adventure              5100
3  1987.0        Simulation                 0
4  1988.0            Action             16243

In [47]:
genres_year.to_csv('Datasets/PlayTimeGenre.csv', index= False)

# Defino la función PlayTimeGame

En la primera línea, defino una función llamada PlayTimeGenre que toma un parámetro llamado genero (str).

En la segunda línea, creo una variable llamada filtro que contiene un subconjunto de datos filtrados del DataFrame genres_year. Utilizo la columna 'most_played_genre' para filtrar aquellos registros que coincidan con el valor del género que he especificado.

En la tercera línea, verifico si la longitud de filtro es mayor o igual a 1. Esto me permite comprobar si se encontraron registros que coinciden con el género especificado.

Si la longitud de filtro es mayor o igual a 1, significa que se encontró al menos un registro que coincide con el género especificado.

En la cuarta línea, busco el valor máximo de la columna 'playtime_forever' dentro del DataFrame filtro y lo asigno a la variable max_playtime.

En la quinta línea, utilizo la función loc para encontrar las filas en las que el valor de 'playtime_forever' es igual a max_playtime. Luego, selecciono el valor de la columna 'year' de esas filas y lo asigno a la variable max_year. Al utilizar .values[0], obtengo el valor real en lugar de un objeto Series.

En la sexta línea, construyo una cadena de texto que devuelve el año de lanzamiento con más horas jugadas para el género especificado. Utilizo int(max_year) para convertir el año en un entero y asegurarme de que se muestre sin decimales.

Si la longitud de filtro no es mayor o igual a 1, significa que no se encontraron registros que coincidan con el género especificado. En este caso, retorno un mensaje indicando que el género es incorrecto y que se debe intentar nuevamente.

In [48]:
def PlayTimeGenre( genero : str ):
    filtro = genres_year[genres_year['most_played_genre']== genero]
    if len(filtro)>=1:
        max_playtime = filtro['playtime_forever'].max()
        max_year = filtro.loc[filtro['playtime_forever'] == max_playtime, 'year'].values[0]
        return {'Año de lanzamiento con más horas jugadas para ' + genero: int(max_year) }

    else:
        return {'No sé encontró el Género'}

In [49]:
print(PlayTimeGenre('Action'))

Año de lanzamiento con más horas jugadas para Género 2012: Action

In [50]:
print(PlayTimeGenre('a'))

Género incorrecto. Por favor, intente de nuevo