In [7]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

Importo el archivo games_genres

In [135]:
generos = pd.read_csv('games_genres.csv')

In [136]:
generos

,title,1980s,1990's,2D,360 Video,3D Vision,Accounting,Action,Action-Adventure,Adventure,...,Walking Simulator,War,Web Publishing,Werewolves,Western,World War I,World War II,Zombies,e-sports,year
0,Ironbound,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2018.0
1,弹炸人2222,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,2017.0
2,Battle Royale Trainer,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,2018.0
3,SNOW - All Access Basic Pass,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2018.0
4,SNOW - All Access Pro Pass,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2018.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27596,Kebab it Up!,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,2018.0
27597,Colony On Mars,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2018.0
27598,LOGistICAL: South Africa,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2018.0
27599,Russian Roads,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2018.0
27600,EXIT 2 - Directions,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2017.0

Reagrupo los generos para que se torne más simple de hacer el EDA se necesario

In [137]:
generos['genero'] = generos.apply(lambda row: [col for col in generos.columns if row[col] == 1], axis=1)

In [138]:
generos

,title,1980s,1990's,2D,360 Video,3D Vision,Accounting,Action,Action-Adventure,Adventure,...,War,Web Publishing,Werewolves,Western,World War I,World War II,Zombies,e-sports,year,genero
0,Ironbound,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2018.0,"[Free to Play, Indie, RPG, Strategy]"
1,弹炸人2222,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,2017.0,"[Action, Adventure, Casual]"
2,Battle Royale Trainer,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,2018.0,"[Action, Adventure, Simulation]"
3,SNOW - All Access Basic Pass,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2018.0,"[Free to Play, Indie, Simulation, Sports]"
4,SNOW - All Access Pro Pass,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2018.0,"[Free to Play, Indie, Simulation, Sports]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27596,Kebab it Up!,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,2018.0,"[Action, Adventure, Casual, Indie]"
27597,Colony On Mars,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2018.0,"[Casual, Indie, Simulation, Strategy]"
27598,LOGistICAL: South Africa,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2018.0,"[Casual, Indie, Strategy]"
27599,Russian Roads,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2018.0,"[Indie, Racing, Simulation]"
27600,EXIT 2 - Directions,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2017.0,"[Casual, Indie]"

In [139]:
generos[generos['year'] > 2000]

,title,1980s,1990's,2D,360 Video,3D Vision,Accounting,Action,Action-Adventure,Adventure,...,War,Web Publishing,Werewolves,Western,World War I,World War II,Zombies,e-sports,year,genero
0,Ironbound,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2018.0,"[Free to Play, Indie, RPG, Strategy]"
1,弹炸人2222,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,2017.0,"[Action, Adventure, Casual]"
2,Battle Royale Trainer,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,2018.0,"[Action, Adventure, Simulation]"
3,SNOW - All Access Basic Pass,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2018.0,"[Free to Play, Indie, Simulation, Sports]"
4,SNOW - All Access Pro Pass,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2018.0,"[Free to Play, Indie, Simulation, Sports]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27596,Kebab it Up!,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,2018.0,"[Action, Adventure, Casual, Indie]"
27597,Colony On Mars,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2018.0,"[Casual, Indie, Simulation, Strategy]"
27598,LOGistICAL: South Africa,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2018.0,"[Casual, Indie, Strategy]"
27599,Russian Roads,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2018.0,"[Indie, Racing, Simulation]"
27600,EXIT 2 - Directions,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2017.0,"[Casual, Indie]"

En un nuevo DataFrame copio las columnas 'title', 'year' y 'genero'

In [170]:
df_recomendacion_juego = generos[['title', 'year', 'genero']]

In [171]:
df_recomendacion_juego

,title,year,genero
0,Ironbound,2018.0,"[Free to Play, Indie, RPG, Strategy]"
1,弹炸人2222,2017.0,"[Action, Adventure, Casual]"
2,Battle Royale Trainer,2018.0,"[Action, Adventure, Simulation]"
3,SNOW - All Access Basic Pass,2018.0,"[Free to Play, Indie, Simulation, Sports]"
4,SNOW - All Access Pro Pass,2018.0,"[Free to Play, Indie, Simulation, Sports]"
...,...,...,...
27596,Kebab it Up!,2018.0,"[Action, Adventure, Casual, Indie]"
27597,Colony On Mars,2018.0,"[Casual, Indie, Simulation, Strategy]"
27598,LOGistICAL: South Africa,2018.0,"[Casual, Indie, Strategy]"
27599,Russian Roads,2018.0,"[Indie, Racing, Simulation]"
27600,EXIT 2 - Directions,2017.0,"[Casual, Indie]"

Importo el archivo users_items

In [24]:
user = pd.read_csv('users_items.csv')

In [25]:
user

,user_id,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,10,Counter-Strike,6,0
1,76561197970982479,20,Team Fortress Classic,0,0
2,76561197970982479,30,Day of Defeat,7,0
3,76561197970982479,40,Deathmatch Classic,0,0
4,76561197970982479,50,Half-Life: Opposing Force,0,0
...,...,...,...,...,...
5153204,76561198329548331,346330,BrainBread 2,0,0
5153205,76561198329548331,373330,All Is Dust,0,0
5153206,76561198329548331,388490,One Way To Die: Steam Edition,3,3
5153207,76561198329548331,521570,You Have 10 Seconds 2,4,4
5153208,76561198329548331,519140,Minds Eyes,3,3

Calculo los outliers de la columna playtime_forever y los elimino

In [26]:
Q1 = user['playtime_forever'].quantile(0.25)
Q3 = user['playtime_forever'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = user[(user['playtime_forever'] < lower_bound) | (user['playtime_forever'] > upper_bound)]

outliers

,user_id,item_id,item_name,playtime_forever,playtime_2weeks
8,76561197970982479,300,Day of Defeat: Source,4733,0
9,76561197970982479,240,Counter-Strike: Source,1853,0
16,76561197970982479,6910,Deus Ex: Game of the Year Edition,2685,0
29,76561197970982479,7940,Call of Duty 4: Modern Warfare,1185,0
40,76561197970982479,4560,Company of Heroes,1061,0
...,...,...,...,...,...
5152641,76561198312638244,379720,DOOM,1178,0
5152651,76561198313357718,730,Counter-Strike: Global Offensive,2317,0
5152652,POMFP0MF,730,Counter-Strike: Global Offensive,2987,0
5152671,76561198319916652,370240,NBA 2K16,1533,19
5153000,ArkPlays7,730,Counter-Strike: Global Offensive,4557,1698

In [27]:
user = user[(user['playtime_forever'] >= lower_bound) & (user['playtime_forever'] <= upper_bound)]

Mantengo solo las columnas 'item_name' e 'item_id'

In [30]:
user = user[['item_name', 'item_id']]

Borro valores duplicados y verifico los nulos

In [32]:
user.drop_duplicates(inplace= True)

In [34]:
user.isna().sum()

item_name    0
item_id      0
dtype: int64

In [35]:
user

                             item_name  item_id
0                       Counter-Strike       10
1                Team Fortress Classic       20
2                        Day of Defeat       30
3                   Deathmatch Classic       40
4            Half-Life: Opposing Force       50
...                                ...      ...
5092969        Alienware Steam Machine   353390
5099971               RaidersSphere4th   340860
5105048                     ChaosTower   354280
5119454  Aveyond 4: Shadow Of The Mist   433920
5145725                  Arachnophobia   485270

[10936 rows x 2 columns]

Juntos ambos DataFrame con metodo .merge() y eliminos la columnas no necesarias

In [172]:
df_recomendacion_juego = pd.merge(df_recomendacion_juego, user, left_on= 'title', right_on= 'item_name')

In [173]:
df_recomendacion_juego[df_recomendacion_juego['year'] > 2010]

,title,year,genero,item_name,item_id
171,Mafia II,2011.0,[Action],Mafia II,50130
220,Zeit²,2011.0,"[Action, Indie]",Zeit²,33390
221,APOX,2011.0,"[Action, Indie, Strategy]",APOX,80000
222,Monday Night Combat,2011.0,"[Action, Indie, Sports, Strategy]",Monday Night Combat,63200
223,Trino,2011.0,"[Casual, Indie]",Trino,42000
...,...,...,...,...,...
6617,Men of War: Assault Squad,2011.0,[Strategy],Men of War: Assault Squad,64000
6618,CreaVures,2011.0,[Indie],CreaVures,49810
6619,Magicka,2011.0,"[Action, RPG]",Magicka,42910
6889,Bombernauts,2017.0,"[Action, Indie]",Bombernauts,246920
6922,War Truck Simulator,2016.0,"[Action, Indie, Simulation]",War Truck Simulator,486840

In [174]:
df_recomendacion_juego.drop(['item_name', 'year'], axis= 1, inplace= True)

In [175]:
df_recomendacion_juego

                                title                   genero  item_id
0                Carmageddon Max Pack  [Action, Indie, Racing]   282010
1                           Half-Life                 [Action]       70
2      Disciples II: Gallean's Return               [Strategy]     1640
3     Disciples II: Rise of the Elves               [Strategy]     1630
4                       Advent Rising                 [Action]     3800
...                               ...                      ...      ...
6930                            Mafia      [Action, Adventure]    40990
6931               Chicken Shoot Gold  [Action, Casual, Indie]   259340
6932                    Day of Defeat                 [Action]       30
6933                      Geneforge 2   [Indie, RPG, Strategy]   200980
6934   Counter-Strike: Condition Zero                 [Action]       80

[6935 rows x 3 columns]

Hago los cambios estructurales de los valores de la columna genero para regresarlos al formato de dummies

In [176]:
df_recomendacion_juego['genero'] = df_recomendacion_juego['genero'].apply(lambda x: ','.join(x) if isinstance(x, list) else x)

In [177]:
df_recomendacion_dummies = df_recomendacion_juego['genero'].str.get_dummies(',')

In [178]:
df_recomendacion_dummies

,Action,Action-Adventure,Adventure,Animation & Modeling,Animation &amp; Modeling,Anime,Assassin,Audio Production,Cartoon,Casual,...,Strategy,Thriller,Time Travel,Tutorial,Utilities,Video Production,Violent,Web Publishing,World War I,e-sports
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6930,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6931,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6932,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6933,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
6934,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [179]:
df_recomendacion_juego = pd.concat([df_recomendacion_juego, df_recomendacion_dummies], axis = 1)

In [180]:
df_recomendacion_juego

,title,genero,item_id,Action,Action-Adventure,Adventure,Animation & Modeling,Animation &amp; Modeling,Anime,Assassin,...,Strategy,Thriller,Time Travel,Tutorial,Utilities,Video Production,Violent,Web Publishing,World War I,e-sports
0,Carmageddon Max Pack,"Action,Indie,Racing",282010,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Half-Life,Action,70,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Disciples II: Gallean's Return,Strategy,1640,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,Disciples II: Rise of the Elves,Strategy,1630,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,Advent Rising,Action,3800,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6930,Mafia,"Action,Adventure",40990,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6931,Chicken Shoot Gold,"Action,Casual,Indie",259340,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6932,Day of Defeat,Action,30,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6933,Geneforge 2,"Indie,RPG,Strategy",200980,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
6934,Counter-Strike: Condition Zero,Action,80,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Borro la columna 'genero'

In [181]:
df_recomendacion_juego.drop('genero', axis = 1, inplace= True)

In [182]:
df_recomendacion_juego[df_recomendacion_juego['item_id'] == 220824]

,title,item_id,Action,Action-Adventure,Adventure,Animation & Modeling,Animation &amp; Modeling,Anime,Assassin,Audio Production,...,Strategy,Thriller,Time Travel,Tutorial,Utilities,Video Production,Violent,Web Publishing,World War I,e-sports
6250,Zombie Driver HD Tropical Race Rage,220824,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Importo el archivo Recommend_functions y mantengo solamente las lineas que tienen 'True' en la columna 'recommend' y que sea mayor que 0 en la columna 'polaridad'

In [157]:
recommend = pd.read_csv('Recommend_functions.csv')

In [159]:
recommend = recommend[recommend['recommend'] == True]

In [163]:
recommend

,title,year,recommend,polaridad
1,! That Bastard Is Trying To Steal Our Gold !,2016.0,True,0.000000
2,"10,000,000",2013.0,True,0.133333
4,100% Orange Juice,2013.0,True,-0.058306
5,12 Labours of Hercules,2015.0,True,0.150000
7,12 Labours of Hercules II: The Cretan Bull,2015.0,True,0.100000
...,...,...,...,...
2836,planetarian ~the reverie of a little planet~,2004.0,True,0.212365
2838,resident evil 4 / biohazard 4,2014.0,True,0.081672
2840,sZone-Online,2015.0,True,0.228051
2842,the static speaks my name,2015.0,True,-0.051769
2844,theHunter: Primal,2015.0,True,0.059910

In [164]:
recommend = recommend[recommend['polaridad'] > 0]

In [165]:
recommend

,title,year,recommend,polaridad
2,"10,000,000",2013.0,True,0.133333
5,12 Labours of Hercules,2015.0,True,0.150000
7,12 Labours of Hercules II: The Cretan Bull,2015.0,True,0.100000
8,140,2013.0,True,0.079413
10,18 Wheels of Steel: Extreme Trucker,2009.0,True,0.150000
...,...,...,...,...
2835,oO,2015.0,True,0.153889
2836,planetarian ~the reverie of a little planet~,2004.0,True,0.212365
2838,resident evil 4 / biohazard 4,2014.0,True,0.081672
2840,sZone-Online,2015.0,True,0.228051
2844,theHunter: Primal,2015.0,True,0.059910

Junto este con el DataFrame df_recomendacion_juego y borro las columnas no necesarias

In [183]:
df_recomendacion_juego = pd.merge(df_recomendacion_juego, recommend, on= 'title')

In [184]:
df_recomendacion_juego

,title,item_id,Action,Action-Adventure,Adventure,Animation & Modeling,Animation &amp; Modeling,Anime,Assassin,Audio Production,...,Tutorial,Utilities,Video Production,Violent,Web Publishing,World War I,e-sports,year,recommend,polaridad
0,Half-Life,70,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1998.0,True,0.267214
1,DEFCON,1520,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2006.0,True,0.094167
2,Garry's Mod,4000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2006.0,True,0.287070
3,FlatOut,6220,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2005.0,True,0.178125
4,The Longest Journey,6310,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,2000.0,True,0.062383
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1418,Counter-Strike,10,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2000.0,True,0.409969
1419,Deathmatch Classic,40,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2001.0,True,0.475000
1420,Half-Life: Blue Shift,130,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2001.0,True,0.156921
1421,Day of Defeat,30,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2003.0,True,0.292321
1422,Counter-Strike: Condition Zero,80,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2004.0,True,0.771437

In [185]:
df_recomendacion_juego.drop(['year', 'recommend', 'polaridad'], axis= 1, inplace= True)

In [186]:
df_recomendacion_juego

,title,item_id,Action,Action-Adventure,Adventure,Animation & Modeling,Animation &amp; Modeling,Anime,Assassin,Audio Production,...,Strategy,Thriller,Time Travel,Tutorial,Utilities,Video Production,Violent,Web Publishing,World War I,e-sports
0,Half-Life,70,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,DEFCON,1520,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,Garry's Mod,4000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,FlatOut,6220,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,The Longest Journey,6310,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1418,Counter-Strike,10,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1419,Deathmatch Classic,40,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1420,Half-Life: Blue Shift,130,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1421,Day of Defeat,30,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1422,Counter-Strike: Condition Zero,80,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [114]:
import pyarrow

In [193]:
df_recomendacion_juego.to_parquet('recomendacion_juego_function.parquet', index = False)

In [131]:
df_recomendacion_juego.to_csv('recomendacion_juego_function.csv', index = False)

Importo el modulo cosine_similarity de la libraria Sklearn para calcular la matriz de similitud y la guardo en formato de pkl con joblib

In [111]:
from sklearn.metrics.pairwise import cosine_similarity

In [187]:
similitud = cosine_similarity(df_recomendacion_juego.iloc[:, 1:-1])

In [188]:
similitud.shape

(1423, 1423)

In [120]:
import joblib

In [189]:
joblib.dump(similitud, 'similarities.pkl')

['similarities.pkl']

# Defino la función recomendacion_juego

Defino la funcion recomendacion_juego que recibi un parametro id_producto que es de tipo inteiro.

Si el ID del producto está en los valores de la columna item_id del DataFrame df_recomendacion_juego, entonces verifico si el ID del producto proporcionado está presente en la columna item_id del DataFrame df_recomendacion_juego.

Obtengo el índice del producto en el DataFrame df_recomendacion_juego y lo guardo en la variable index.

Utilizo la variable similitud que guarda mi matriz de similitud.

Ordeno las similitudes en orden descendente y obtengo los índices de los productos más similares al producto de interés (excluyendo el propio producto) y los almaceno en la variable similar_indices.

Extraigo los registros de los productos similares del DataFrame df_recomendacion_juego utilizando los índices almacenados en similar_indices. Selecciono las columnas item_id y 'title de esos registros y los guardo en la variable similar_products.

Devuelvo los productos similares en formato de diccionario:

Si el ID del producto no se encuentra en el DataFrame, devuelvo un mensaje indicando que el ID no fue encontrado.

In [190]:
def recomendacion_juego(id_producto: int):
    
    if id_producto in df_recomendacion_juego['item_id'].values:
        index = df_recomendacion_juego[df_recomendacion_juego['item_id'] == id_producto].index[0]
        similarities = similitud
        similar_indices = similarities[index].argsort()[::-1][1:6]
        similar_products = df_recomendacion_juego.iloc[similar_indices][['item_id', 'title']]
        return similar_products.to_dict(orient='records')
    else:
        return 'ID no encontrado'

In [192]:
recomendacion_juego(10)

[{'item_id': 20, 'title': 'Team Fortress Classic'},
 {'item_id': 30, 'title': 'Day of Defeat'},
 {'item_id': 40, 'title': 'Deathmatch Classic'},
 {'item_id': 50, 'title': 'Half-Life: Opposing Force'},
 {'item_id': 60, 'title': 'Ricochet'}]