In [2]:
import pandas as pd

Importo los datasests y hago EDA antes de juntarlas con metodo .merge() en un unico DataFrame

In [3]:
sentiment = pd.read_csv('sentiment_analysis_reviews.csv')

In [4]:
user_rev = pd.read_csv('user_reviews.csv')

In [5]:
sentiment

,review,polaridad,sentimiento,significado,user_id,item_id
0,Simple yet with great replayability. In my opi...,0.174444,2,Positivo,76561197970982479,1250.0
1,It's unique and worth a playthrough.,0.337500,2,Positivo,76561197970982479,22200.0
2,Great atmosphere. The gunplay can be a bit chu...,0.050000,2,Positivo,76561197970982479,43110.0
3,I know what you think when you see this title ...,0.114583,2,Positivo,js41637,251610.0
4,For a simple (it's actually not all that simpl...,-0.036111,0,Negativo,js41637,227300.0
...,...,...,...,...,...,...
59328,a must have classic from steam definitely wort...,0.233333,2,Positivo,76561198312638244,70.0
59329,this game is a perfect remake of the original ...,0.142500,2,Positivo,76561198312638244,362890.0
59330,had so much fun plaing this and collecting res...,0.087500,2,Positivo,LydiaMorley,273110.0
59331,:D,1.000000,2,Positivo,LydiaMorley,730.0
59332,so much fun :D,0.650000,2,Positivo,LydiaMorley,440.0

In [6]:
user_rev

,user_id,user_url,funny,posted,last_edited,item_id,helpful,recommend,review
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,NaN,"Posted November 5, 2011.",NaN,1250.0,No ratings yet,True,Simple yet with great replayability. In my opi...
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,NaN,"Posted July 15, 2011.",NaN,22200.0,No ratings yet,True,It's unique and worth a playthrough.
2,76561197970982479,http://steamcommunity.com/profiles/76561197970...,NaN,"Posted April 21, 2011.",NaN,43110.0,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
3,js41637,http://steamcommunity.com/id/js41637,NaN,"Posted June 24, 2014.",NaN,251610.0,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
4,js41637,http://steamcommunity.com/id/js41637,NaN,"Posted September 8, 2013.",NaN,227300.0,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...
...,...,...,...,...,...,...,...,...,...
59328,76561198312638244,http://steamcommunity.com/profiles/76561198312...,NaN,Posted July 10.,NaN,70.0,No ratings yet,True,a must have classic from steam definitely wort...
59329,76561198312638244,http://steamcommunity.com/profiles/76561198312...,NaN,Posted July 8.,NaN,362890.0,No ratings yet,True,this game is a perfect remake of the original ...
59330,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,1 person found this review funny,Posted July 3.,NaN,273110.0,1 of 2 people (50%) found this review helpful,True,had so much fun plaing this and collecting res...
59331,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,NaN,Posted July 20.,NaN,730.0,No ratings yet,True,:D
59332,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,NaN,Posted July 2.,NaN,440.0,No ratings yet,True,so much fun :D

Importo el Dataset de los usuarios sin compras y los elimino de el Dataframe user_rev

In [24]:
user_sincompras = pd.read_csv('users_wout_items.csv')

In [19]:
user_sincompras = user_sincompras[['user_id']]

In [25]:
user_sincompras

,user_id,items_count,steam_id,user_url,items
0,Wackky,0,76561198039117046,http://steamcommunity.com/id/Wackky,NaN
1,76561198079601835,0,76561198079601835,http://steamcommunity.com/profiles/76561198079...,NaN
2,hellom8o,0,76561198117222320,http://steamcommunity.com/id/hellom8o,NaN
3,starkillershadow553,0,76561198059648579,http://steamcommunity.com/id/starkillershadow553,NaN
4,darkenkane,0,76561198058876001,http://steamcommunity.com/id/darkenkane,NaN
...,...,...,...,...,...
16801,76561198316380182,0,76561198316380182,http://steamcommunity.com/profiles/76561198316...,NaN
16802,76561198316970597,0,76561198316970597,http://steamcommunity.com/profiles/76561198316...,NaN
16803,76561198318100691,0,76561198318100691,http://steamcommunity.com/profiles/76561198318...,NaN
16804,XxLaughingJackClown77xX,0,76561198328759259,http://steamcommunity.com/id/XxLaughingJackClo...,NaN
16805,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,NaN

In [26]:
sentiment = sentiment[~sentiment['user_id'].isin(user_sincompras['user_id'])]

In [30]:
user_rev = user_rev[~user_rev['user_id'].isin(user_sincompras['user_id'])]

In [31]:
user_rev

,user_id,user_url,funny,posted,last_edited,item_id,helpful,recommend,review
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,NaN,"Posted November 5, 2011.",NaN,1250.0,No ratings yet,True,Simple yet with great replayability. In my opi...
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,NaN,"Posted July 15, 2011.",NaN,22200.0,No ratings yet,True,It's unique and worth a playthrough.
2,76561197970982479,http://steamcommunity.com/profiles/76561197970...,NaN,"Posted April 21, 2011.",NaN,43110.0,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
3,js41637,http://steamcommunity.com/id/js41637,NaN,"Posted June 24, 2014.",NaN,251610.0,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
4,js41637,http://steamcommunity.com/id/js41637,NaN,"Posted September 8, 2013.",NaN,227300.0,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...
...,...,...,...,...,...,...,...,...,...
59325,76561198310819422,http://steamcommunity.com/profiles/76561198310...,1 person found this review funny,Posted June 23.,NaN,570.0,1 of 1 people (100%) found this review helpful,True,Well Done
59326,76561198312638244,http://steamcommunity.com/profiles/76561198312...,NaN,Posted July 21.,NaN,233270.0,No ratings yet,True,this is a very fun and nice 80s themed shooter...
59327,76561198312638244,http://steamcommunity.com/profiles/76561198312...,NaN,Posted July 10.,NaN,130.0,No ratings yet,True,if you liked Half life i would really recommen...
59328,76561198312638244,http://steamcommunity.com/profiles/76561198312...,NaN,Posted July 10.,NaN,70.0,No ratings yet,True,a must have classic from steam definitely wort...
59329,76561198312638244,http://steamcommunity.com/profiles/76561198312...,NaN,Posted July 8.,NaN,362890.0,No ratings yet,True,this game is a perfect remake of the original ...

In [32]:
sentiment.drop('user_id', axis = 1 ,inplace= True)

C:\Users\anton\AppData\Local\Temp\ipykernel_6848\3279993622.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sentiment.drop('user_id', axis = 1 ,inplace= True)

In [33]:
user_rev = user_rev[['recommend','review']]

In [34]:
user_rev

      recommend                                             review
0          True  Simple yet with great replayability. In my opi...
1          True               It's unique and worth a playthrough.
2          True  Great atmosphere. The gunplay can be a bit chu...
3          True  I know what you think when you see this title ...
4          True  For a simple (it's actually not all that simpl...
...         ...                                                ...
59325      True                                          Well Done
59326      True  this is a very fun and nice 80s themed shooter...
59327      True  if you liked Half life i would really recommen...
59328      True  a must have classic from steam definitely wort...
59329      True  this game is a perfect remake of the original ...

[53078 rows x 2 columns]

In [35]:
reviews = pd.merge(user_rev, sentiment, on= 'review')

In [36]:
reviews

,recommend,review,polaridad,sentimiento,significado,item_id
0,True,Simple yet with great replayability. In my opi...,0.174444,2,Positivo,1250.0
1,True,It's unique and worth a playthrough.,0.337500,2,Positivo,22200.0
2,True,Great atmosphere. The gunplay can be a bit chu...,0.050000,2,Positivo,43110.0
3,True,I know what you think when you see this title ...,0.114583,2,Positivo,251610.0
4,True,For a simple (it's actually not all that simpl...,-0.036111,0,Negativo,227300.0
...,...,...,...,...,...,...
118843,True,Well Done,0.000000,1,Neutro,570.0
118844,True,this is a very fun and nice 80s themed shooter...,0.249091,2,Positivo,233270.0
118845,True,if you liked Half life i would really recommen...,0.193333,2,Positivo,130.0
118846,True,a must have classic from steam definitely wort...,0.233333,2,Positivo,70.0
118847,True,this game is a perfect remake of the original ...,0.142500,2,Positivo,362890.0

Importo el datasets users_items y hago EDA, manteniendo solamente las columnas 'item_id' y 'item_name'

In [52]:
games = pd.read_csv('users_items.csv')

In [53]:
games

,user_id,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,10,Counter-Strike,6,0
1,76561197970982479,20,Team Fortress Classic,0,0
2,76561197970982479,30,Day of Defeat,7,0
3,76561197970982479,40,Deathmatch Classic,0,0
4,76561197970982479,50,Half-Life: Opposing Force,0,0
...,...,...,...,...,...
5153204,76561198329548331,346330,BrainBread 2,0,0
5153205,76561198329548331,373330,All Is Dust,0,0
5153206,76561198329548331,388490,One Way To Die: Steam Edition,3,3
5153207,76561198329548331,521570,You Have 10 Seconds 2,4,4
5153208,76561198329548331,519140,Minds Eyes,3,3

Calculo los outliers de la columna 'playtime_forever' y los elimino.

In [54]:
Q1 = games['playtime_forever'].quantile(0.25)
Q3 = games['playtime_forever'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = games[(games['playtime_forever'] < lower_bound) | (games['playtime_forever'] > upper_bound)]


outliers

,user_id,item_id,item_name,playtime_forever,playtime_2weeks
8,76561197970982479,300,Day of Defeat: Source,4733,0
9,76561197970982479,240,Counter-Strike: Source,1853,0
16,76561197970982479,6910,Deus Ex: Game of the Year Edition,2685,0
29,76561197970982479,7940,Call of Duty 4: Modern Warfare,1185,0
40,76561197970982479,4560,Company of Heroes,1061,0
...,...,...,...,...,...
5152641,76561198312638244,379720,DOOM,1178,0
5152651,76561198313357718,730,Counter-Strike: Global Offensive,2317,0
5152652,POMFP0MF,730,Counter-Strike: Global Offensive,2987,0
5152671,76561198319916652,370240,NBA 2K16,1533,19
5153000,ArkPlays7,730,Counter-Strike: Global Offensive,4557,1698

In [55]:
games = games.drop(outliers.index)

Mantengo las columnas 'item_id' e 'item_name' y borro los valores duplicados

In [56]:
games = games[['item_id', 'item_name']]

In [57]:
games.drop_duplicates(inplace=True)

In [58]:
games

         item_id                      item_name
0             10                 Counter-Strike
1             20          Team Fortress Classic
2             30                  Day of Defeat
3             40             Deathmatch Classic
4             50      Half-Life: Opposing Force
...          ...                            ...
5092969   353390        Alienware Steam Machine
5099971   340860               RaidersSphere4th
5105048   354280                     ChaosTower
5119454   433920  Aveyond 4: Shadow Of The Mist
5145725   485270                  Arachnophobia

[10936 rows x 2 columns]

Junto este dataframe con en creado anteriormente

In [59]:
reviews = pd.merge(reviews, games, how = 'left')

In [60]:
reviews

,recommend,review,polaridad,sentimiento,significado,item_id,item_name
0,True,Simple yet with great replayability. In my opi...,0.174444,2,Positivo,1250.0,Killing Floor
1,True,It's unique and worth a playthrough.,0.337500,2,Positivo,22200.0,Zeno Clash
2,True,Great atmosphere. The gunplay can be a bit chu...,0.050000,2,Positivo,43110.0,Metro 2033
3,True,I know what you think when you see this title ...,0.114583,2,Positivo,251610.0,Barbie™ Dreamhouse Party™
4,True,For a simple (it's actually not all that simpl...,-0.036111,0,Negativo,227300.0,Euro Truck Simulator 2
...,...,...,...,...,...,...,...
118843,True,Well Done,0.000000,1,Neutro,570.0,NaN
118844,True,this is a very fun and nice 80s themed shooter...,0.249091,2,Positivo,233270.0,Far Cry® 3 Blood Dragon
118845,True,if you liked Half life i would really recommen...,0.193333,2,Positivo,130.0,Half-Life: Blue Shift
118846,True,a must have classic from steam definitely wort...,0.233333,2,Positivo,70.0,Half-Life
118847,True,this game is a perfect remake of the original ...,0.142500,2,Positivo,362890.0,Black Mesa

Importo el dataset games_genres, manteniendo solamente las columnas 'title' e 'year'. Lo junto con el DataFrame anterior

In [62]:
years = pd.read_csv('games_genres.csv')

In [63]:
years = years[['title', 'year']]

In [64]:
years

                          title    year
0           Lost Summoner Kitty  2018.0
1                     Ironbound  2018.0
2       Real Pool 3D - Poolians  2017.0
3                       弹炸人2222  2017.0
4                 Log Challenge     NaN
...                         ...     ...
32210            Colony On Mars  2018.0
32211  LOGistICAL: South Africa  2018.0
32212             Russian Roads  2018.0
32213       EXIT 2 - Directions  2017.0
32214               Maze Run VR     NaN

[32215 rows x 2 columns]

In [65]:
reviews = pd.merge(reviews, years, left_on= 'item_name', right_on= 'title')

In [66]:
reviews

,recommend,review,polaridad,sentimiento,significado,item_id,item_name,title,year
0,True,Simple yet with great replayability. In my opi...,0.174444,2,Positivo,1250.0,Killing Floor,Killing Floor,2009.0
1,True,"Amazing, Non-stop action of blowing stuff to b...",0.204167,2,Positivo,1250.0,Killing Floor,Killing Floor,2009.0
2,True,"Compared to Left 4 Dead 2, this game REALLY gi...",0.110417,2,Positivo,1250.0,Killing Floor,Killing Floor,2009.0
3,True,Jogo ♥♥♥♥.,0.000000,1,Neutro,1250.0,Killing Floor,Killing Floor,2009.0
4,True,great game,0.200000,2,Positivo,1250.0,Killing Floor,Killing Floor,2009.0
...,...,...,...,...,...,...,...,...,...
151654,True,"Asteria is a fast paced indie platformer, wrap...",0.040000,2,Positivo,307130.0,Asteria,Asteria,2014.0
151655,True,"Great game, awkward to get running in windows 10",-0.066667,0,Negativo,209120.0,Street Fighter X Tekken,Street Fighter X Tekken,2012.0
151656,True,GET THIS GAME AND CHAPTER TWO!!!!!!!!!!!!!!!!!...,-1.000000,0,Negativo,220090.0,The Journey Down: Chapter One,The Journey Down: Chapter One,2013.0
151657,True,THIS GAME!!!!!!!!!!!!!!!!!! WOOOOOOOOOOOOOOOOO...,-1.000000,0,Negativo,262850.0,The Journey Down: Chapter Two,The Journey Down: Chapter Two,2014.0
151658,True,Highly recommended! The storyline for shou is ...,0.280000,2,Positivo,431510.0,Mystic Destinies: Serendipity of Aeons,Mystic Destinies: Serendipity of Aeons,2016.0

Hago EDA en este dataframe final

In [67]:
reviews.dropna(inplace= True)

In [68]:
reviews.drop(['item_id', 'item_name'], axis = 1, inplace= True)

In [69]:
reviews.drop(['review', 'significado'], axis= 1, inplace= True)

In [70]:
reviews

,recommend,polaridad,sentimiento,title,year
0,True,0.174444,2,Killing Floor,2009.0
1,True,0.204167,2,Killing Floor,2009.0
2,True,0.110417,2,Killing Floor,2009.0
3,True,0.000000,1,Killing Floor,2009.0
4,True,0.200000,2,Killing Floor,2009.0
...,...,...,...,...,...
151654,True,0.040000,2,Asteria,2014.0
151655,True,-0.066667,0,Street Fighter X Tekken,2012.0
151656,True,-1.000000,0,The Journey Down: Chapter One,2013.0
151657,True,-1.000000,0,The Journey Down: Chapter Two,2014.0
151658,True,0.280000,2,Mystic Destinies: Serendipity of Aeons,2016.0

Agrupo haciendo una media en la columna 'polaridad'

In [71]:
reviews_gb = pd.DataFrame(reviews.groupby(['title', 'year','recommend'], as_index=False)['polaridad'].mean())

In [72]:
reviews_gb

,title,year,recommend,polaridad
0,! That Bastard Is Trying To Steal Our Gold !,2016.0,False,0.000000
1,! That Bastard Is Trying To Steal Our Gold !,2016.0,True,0.000000
2,"10,000,000",2013.0,True,0.133333
3,100% Orange Juice,2013.0,False,-0.232500
4,100% Orange Juice,2013.0,True,-0.058306
...,...,...,...,...
2840,sZone-Online,2015.0,True,0.228051
2841,the static speaks my name,2015.0,False,0.041538
2842,the static speaks my name,2015.0,True,-0.051769
2843,theHunter: Primal,2015.0,False,-0.115152
2844,theHunter: Primal,2015.0,True,0.059910

Guardo DataFrame en archivo csv

In [74]:
reviews_gb.to_csv('Recommend_functions.csv', index = False)

# Defino la función UsersRecommend

En la primera línea, defino la función UsersRecommend que toma un parámetro año de tipo entero.

En la segunda línea, creo una variable llamada filtro que contiene un subconjunto de datos filtrados del DataFrame reviews_gb. Se seleccionan los registros donde el valor de la columna 'year' coincide con el año especificado.

En la tercera línea, verifico si la longitud de filtro es mayor a 1. Esto me permite comprobar si se encontraron registros para el año especificado.

Si la longitud de filtro es mayor a 1, significa que se encontraron registros para ese año.

En la cuarta línea, creo una variable llamada recomend que contiene un subconjunto de datos donde se filtran solo las recomendaciones positivas (valor True) del DataFrame filtro.

En la quinta línea, selecciono las tres mejores recomendaciones en base a la columna 'polaridad' utilizando el método nlargest del DataFrame recomend. Estas recomendaciones se guardan en la variable polaridad. Además, se reinicia el índice del DataFrame utilizando el parámetro drop=True.

En la sexta línea, creo un diccionario vacío llamado resultado para almacenar los resultados de las mejores recomendaciones.

En la séptima línea, itero sobre los índices y las filas del DataFrame polaridad utilizando iterrows(). El índice i y la fila row representan cada una de las mejores recomendaciones.

En la octava línea, obtengo el título del juego de cada fila y lo guardo en la variable game.

En la novena línea, creo una clave para el diccionario resultado que representa el puesto de la recomendación utilizando el índice i y el índice inicial de polaridad. Asigno el título del juego como valor.

En la décima línea, retorno el diccionario resultado que contiene las mejores recomendaciones de juegos para el año especificado.

Si la longitud de filtro no es mayor a 1, significa que no se encontraron registros para el año especificado. En este caso, retorno un diccionario con un mensaje indicando que el año no fue encontrado.

In [75]:
def UsersRecommend(año: int):
    filtro = reviews_gb[reviews_gb['year'] == año]
    if len(filtro) > 1:
        recomend = filtro[filtro['recommend'] == True]
        polaridad = recomend.nlargest(3, 'polaridad').reset_index(drop= True)
        resultado = {}
        for i, row in polaridad.iterrows():
            game = "Puesto " + str(i + 1 - polaridad.index[0])
            resultado[game] = row['title']
        
        return resultado
    else:
        return {f'Año no encuentrado!'}

In [76]:
UsersRecommend(1999)

{'Puesto 1': 'Team Fortress Classic',
 'Puesto 2': 'Quake III Arena',
 'Puesto 3': 'Sven Co-op'}

In [77]:
UsersRecommend(2019)

{'Año no encuentrado!'}

# Defino la función UsersNotRecommend

En la primera línea, defino la función UsersNotRecommend que toma un parámetro año de tipo entero.

En la segunda línea, creo una variable llamada filtro que contiene un subconjunto de datos filtrados del DataFrame reviews_gb. Se seleccionan los registros donde el valor de la columna 'year' coincide con el año especificado.

En la tercera línea, verifico si la longitud de filtro es mayor a 1. Esto me permite comprobar si se encontraron registros para el año especificado.

Si la longitud de filtro es mayor a 1, significa que se encontraron registros para ese año.

En la cuarta línea, creo una variable llamada recomend que contiene un subconjunto de datos donde se filtran solo las recomendaciones negativas (valor False) del DataFrame filtro.

En la quinta línea, selecciono las tres peores recomendaciones en base a la columna 'polaridad' utilizando el método nsmallest del DataFrame recomend. Estas recomendaciones se guardan en la variable polaridad. Además, se reinicia el índice del DataFrame utilizando el parámetro drop=True.

En la sexta línea, creo un diccionario vacío llamado resultado para almacenar los resultados de las peores recomendaciones.

En la séptima línea, itero sobre los índices y las filas del DataFrame polaridad utilizando iterrows(). El índice i y la fila row representan cada una de las peores recomendaciones.

En la octava línea, obtengo el título del juego de cada fila y lo guardo en la variable game.

En la novena línea, creo una clave para el diccionario resultado que representa el puesto de la recomendación utilizando el índice i y el índice inicial de polaridad. Asigno el título del juego como valor.

En la décima línea, retorno el diccionario resultado que contiene las peores recomendaciones de juegos para el año especificado.

Si la longitud de filtro no es mayor a 1, significa que no se encontraron registros para el año especificado. En este caso, retorno un diccionario con un mensaje indicando que el año no fue encontrado.

In [78]:
def UsersNotRecommend( año : int ):
    filtro = reviews_gb[reviews_gb['year'] == año]
    if len(filtro) > 1:
        recomend = filtro[filtro['recommend'] == False]
        polaridad = recomend.nsmallest(3, 'polaridad').reset_index(drop= True)
        resultado = {}
        for i, row in polaridad.iterrows():
            game = "Puesto " + str(i + 1 - polaridad.index[0])
            resultado[game] = row['title']
        
        return resultado
    else:
        return {f'Año no encuentrado!'}

In [79]:
UsersNotRecommend(1999)

{'Puesto 1': 'Half-Life: Opposing Force',
 'Puesto 2': 'Team Fortress Classic',
 'Puesto 3': 'Sven Co-op'}

In [80]:
UsersNotRecommend(2019)

{'Año no encuentrado!'}